/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variaveis */

:root {
  --primary-text-color: #000000;
  --background-primary-color: #ffffff;
  --primary-border-color: #000000;
}

body {
  background-color: var(--background-primary-color);
}

/* header */

#header {
  display: flex;
  flex-direction: row;
  padding: 8px;
  width: 100%;
  height: 8vh;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--primary-border-color);
}

.divider {
  height: 30px;
  width: 2px;
  border: 1px solid var(--primary-border-color);
  margin-right: 1rem;
}

.container-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* fim header */
/* inicio main */

#main {
  display: flex;
  flex-direction: column;
  padding: 24px;
  color: var(--primary-text-color);
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hello {
  font-size: 64px;
}

.intro-text,
.text {
  font-size: 32px;
}

.text {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.btn-linkedin {
  text-decoration: none;
  color: #ffffff;
  background-color: #0057ff;
  padding: 8px 24px;
  border-radius: 12px;
  align-self: start;
  font-size: 24px;
  box-shadow: 0px 7px 23px -8px rgba(0, 0, 0, 0.75);
  margin-bottom: 2rem;
}

.dividerSection {
  width: 100%;
  height: 4px;
  background: linear-gradient(
    90deg,
    rgba(1, 22, 39, 1) 9%,
    rgba(9, 9, 121, 1) 51%,
    rgba(99, 32, 238, 1) 100%
  );
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.goal {
  font-size: 24px;
}

/* 
<div class="projects">
    <div class="cardProject">
        
        <div class="img-project"></div>
        <div class="info-projects"></div>
        
        <div class="optionsButtons">
            <button class="code">Code</button>
            <button class="view">View</button>
        </div>
    </div>
</div>
*/
.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cardProject {
  display: flex;
  flex-direction: column;
  padding: 12px;
  background-color: #363636;
  border-radius: 12px;
  gap: 12px;
  color: #ffffff;
}

.info-projects {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.title-project {
  font-size: 18px;
}

.optionsButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}

.code,
.view {
  padding: 6px 12px;
  border-radius: 12px;
  border: none;
  color: #ffffff;
}

.code {
  background-color: #5e5e5e;
}

.view {
  background-color: #0057ff;
}
